@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 3em;
	font-family: sans-serif;
    margin-bottom: 10px;
}

#title + .title2 {
    width: 80%;
    margin: auto;
    font-size: 1.4em;
    font-style: italic;
}

section li {
    list-style-type: none;
    position: relative;    /* It's needed for setting position to absolute in the next rule. */
    text-align: left;
    margin-bottom: 14px;
    font-size: 1.4em;
}

section li:first-of-type {
	font-family: 'Aller Display';
}

section li:first-of-type::before {
    background-image: url('../img/contact/phone.png');
}

section li:last-of-type::before {
    background-image: url('../img/contact/mail.png');
}

section li::before {
    background-repeat: no-repeat;
    position: absolute;
    left: -2.2em;
    top: -0.2em;
    background-size: 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
}

section h1 {
    margin-bottom: 0.5em;
}

section h2 {
    color: black;
}

section ul {
    width: fit-content;
    margin: auto;
}

section iframe {
    width: 90%;
    border: 0;
}
