@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 4em;
    margin-bottom: 0;
	font-family: 'Aller Display';
}

#title + .title2 {
    font-style: italic;
}

#slider-holder {
    width: 800px;
    margin: auto;
	overflow: hidden;
}

#image-holder {
    width: 2400px;
    height: 400px;
    position: relative;
    transition: left 2s;
    margin-bottom: 5px;
}

#image-holder > img { 
    float: left;
    width: 800px;
    height: 400px;
}

#button-holder > span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--base-green);
}

#button-holder > span:nth-of-type(2) {
    margin-right: 2px;
    margin-left: 2px;
}

#present .inner-space {
    margin-right: 4em;
}

#present > ul {
    text-align: justify;
    margin: 16px 4em;
}

#partners > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#partners > h2 {
    margin-bottom: 30px;
}

#partners img {
    margin: 20px 15px;
}

#subtitle {
    font-size: 1.2em;
}

#end .inner-space {
    margin-right: 5px;
}