@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 4em;
    margin-bottom: 0;
	font-family: 'Aller Display';
}

#slider-holder {
    width: 800px;
    margin: auto;
	overflow: hidden;
}

#image-holder {
    width: 2400px;
    height: 400px;
    position: relative;
    transition: left 2s;
    margin-bottom: 5px;
}

#image-holder > img { 
    float: left;
    width: 800px;
    height: 400px;
}

#button-holder > span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--base-green);
}

#button-holder > span:nth-of-type(2) {
    margin-right: 2px;
    margin-left: 2px;
}

article:nth-of-type(2) .inner-space {
    margin-right: 4em;
}

article:nth-of-type(3) .inner-space {
    margin-right: 5px;
}