@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 3em;
    margin-bottom: 0;
	font-family: 'Aller Display';
}

#subtitle {
    font-size: 1.2em;
}

.title1 {
	font-family: 'Aller Display';
}

section li {
    text-align: justify;
}

article:nth-of-type(2) > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

article:nth-of-type(2) img {
    margin: 20px 15px;
}