@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 3em;
	font-family: sans-serif;
}

.title2 {
    width: 95%;
    margin: auto;
    font-size: 1.4em;
    font-style: italic;
}

h1 {
    margin-bottom: 0.6em;
}

.flex {
    margin: auto 5em;
}