@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 3em;
	font-family: 'Aller Display';
}

article > p {
    margin-left: 4em;
    margin-right: 4em;
}
