@import url(https://fr.allfont.net/allfont.css?fonts=aller-display);

#title {
    color: var(--base-green);
    font-size: 3em;
	font-family: sans-serif;
}

p {
    margin-left: 4em;
    margin-right: 4em;
}

#option1, #option2, #option3 {
    border-radius:50%;

    margin: 0 2em;
}

#option2 {
    margin-right: 4em;
    margin-left: 4em;
}
