:root {
	--base-green: #20622B;
	--selected-green: rgb(80, 140, 110);
}

/*$$$$$ STYLE COMMMUN $$$$$*/

body {
	font-family: Georgia;
	text-align: center;
	background: url('../img/back_alter.svg') no-repeat right, linear-gradient(130deg, rgb(162,162,162) 0%, rgb(223,223,223) 35%, rgb(255,255,255) 100%);
	/*background: url('../img/back.png') no-repeat right, linear-gradient(130deg, rgb(142,142,142) 0%, rgb(203,203,203) 36%, rgb(255,255,255) 100%);*/
	background-attachment: fixed;
}

p, section li {
	font-size: 1.2em;
}

section, header, footer {
	width: 80%;
	margin: auto;
	max-width: 60em;
	min-width: 40em;
}

section {
	font-size: 1.2em;
}

section::before {
	content: " ";
	position: fixed;
	z-index: -99;
	top: 0;
	bottom: 0;
	right: 9%;
	left: 9%;
	background: linear-gradient(130deg, rgba(177, 177, 177, 0.8) 0%, rgba(223,223,223,80%) 35%, rgba(250, 250, 250, 0.8) 100%);
}

@media screen and (min-width: 90em) {
	section::before {
		right: calc(50vw - (62em / 2));
		left: calc(50vw - (62em / 2));
	}
}

@media screen and (max-width: 61em) {
	section::before {
		right: calc(50vw - (42em / 2));
		left: calc(50vw - (42em / 2));
	}
}

.title1 {
	font-size: 1.75em;
}

.title2 {
	font-size: 1.5em;
	font-weight: bolder;
}

.title1, .title2, .green {
	color: var(--base-green);
}

.underline {
	text-decoration: underline;
}

a {
	cursor: pointer;
    text-decoration: none;
}

p {
	text-align: justify;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.bold {
	font-weight: bold;
}

.flex {
    display: flex;
    justify-content: center;
}

.v-align {
    align-self: center;
}

.button1:hover, .button2:hover, .buttonNav:hover { cursor: pointer; }

.button1, .button2 {
	border: 1px solid gray;
	border-radius:5px;
	padding: 0.5em;
    color: white;
    background: #999; /*couleur du fond*/
	box-shadow:  0 2px 4px #555;
    font-weight: bold;
}

.button2 {
    width: 75%;
    margin: 0 12.5%;
}

.buttonNav {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.28em 1.6em;
	color: #4b4b50;
	background-color: #f8f8f7;
}

.numericBold {
    font-family: 'Aller Display';
    font-weight: initial;
}


/*$$$$$ STYLE PRELOADER $$$$$*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}


/*$$$$$ STYLE MENU $$$$$*/

header {
	padding-top: 20px;
	margin-bottom: 50px;
}

header > img, menu li {
	box-shadow: 0 2px 6px grey;
	border-radius: 5px;
}

header.flex {
	justify-content: space-between;
}

menu {
	padding: 0;
}

menu a {
	color: white;
}

menu li {
	position: relative;
	display: inline-block;
	margin: 10px 35px;
	width: 8em;
	padding: 0.5em;
	background-color: var(--base-green);
	border: 1px solid var(--selected-green);
}

menu ul li {
	top: 12px;
	left: -5px;
}

menu li:hover { background-color: var(--selected-green); }

menu li ul {
	position: absolute;
	left: -2.2em;
	display: none;
}

menu li:hover ul, menu li:focus ul, menu li ul li {
	display: block;
	margin: 0;
}

#sticky-social {
	position: fixed;
	z-index: 5;
	top: 2px;
	right: 5em;
}


/*$$$$$ STYLE FOOTER $$$$$*/

footer hr {
	width: 70%;
	border: 2px solid lightgrey;
}

footer {
    margin-top: 50px;
    font-weight: bold;
}

footer a {
	color: black;
    text-decoration: underline;
}