<a href="/"><img src="img/logo.svg" width="150" alt="Logo National Finance"></a>

<menu class="v-align">
    <li>
        <a href="/">Notre agence</a>
        <ul>
            <li><a href="/#present">Nos missions</a></li>
            <li><a href="/#partners">Nos partenaires</a></li>
        </ul>
    </li>
    <li>
        <a href="services">Nos services</a>
        <ul>
            <li class="option1"><a href="rachat-credits">Rachat de crédits</a></li>
            <!-- <li class="option2"><a href="pret-immobilier">Prêt immobilier</a></li> -->
            <li class="option3"><a href="rachat-soulte">Rachat de soulte</a></li>
        </ul>
    </li>
    <li><a href="contact">Nous contacter</a></li>
</menu>

<div id="sticky-social">
    <a href="https://www.facebook.com/nationalFinance62200" target="_blank" ><img src="./img/fb.png" height="25" alt="Page Facebook"></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/corinnebomy/detail/recent-activity/shares/" target="_blank" ><img src="./img/li.png" height="25" alt="Page Linkedin"></a>
</div>