.component-root {
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;

    > div {
        flex-grow: 1;
    }
}

img {
    max-width: 10em;
}

a {
    text-decoration: none;
    color: #379392;
}

.nav-link {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    transition: all 0.3s;
    font-size: 22px;
}


/*
.header {
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header.scrollUp {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}

.header.active {
    background: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}
*/