<div class="container" routerLinkActive="active">
    <div class="py-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 left">
                <h3>Nous contacter</h3>
                <ul class="list-unstyled text-muted">
                    <li><a class="reset-anchor text-small font-weight-bold" href="mailto:contact@nationalfinance.fr">contact@nationalfinance.fr</a></li>
                    <li><a class="reset-anchor text-small font-weight-bold" href="tel:0321913233">03 21 91 32 33</a></li>
                    <li><a class="reset-anchor text-small font-weight-bold" href="tel:0671687807">06 71 68 78 07</a></li>
                </ul>
                <ul class="list-inline text-muted">
                    <li class="list-inline-item"><a class="reset-anchor font-weight-bold" href="https://www.facebook.com/nationalFinance62200"><i class="fab fa-facebook mr-2" target="_blank"></i>Retrouvez-nous sur Facebook</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 left">
                <h3>Nos services</h3>
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="services">Rachats de crédits</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="services">Prêt immobilier</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="services">Rachat de soulte</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 left">
                <h3>À propos</h3>
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="protection-donnees">Politique de protection des données</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="mentions-legales">Mentions légales</a></li>
                    <li class="mb-1"><a class="text-small reset-anchor" routerLink="confidentialite">Politique de confidentialité</a></li> 
                </ul>
            </div>        
        </div>
    </div>
    <hr>
    <div class="py-4">
        <div class="row text-center">
            <div class="col-lg-6 p-lg-0 left">
                <p class="text-muted text-small mb-0">© 2021 National-Finance, tous droits réservés</p>
            </div>
            <div class="col-lg-6 p-lg-0 right">
                <p class="text-muted text-small mb-0">some text<!--Made by <a class="text-primary reset-anchor" href="link" target="_blank">name</a>--></p>
            </div>
        </div>
    </div>
</div>
