.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: space-around;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #379392;
}